* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #333;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    transition: 0.3s;
  }

  .nav-menu.active {
    right: 0;
  }

  /* Hamburger animation when clicked */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
